@media screen and (max-width: 780px) {
    body {
        max-width: 100vw;
        max-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container {
        width: 100%;
        height: 415px;
        margin: 10px;
    }

    #logo-netflix {
        width: 40%;
        height: auto;
    }

    #botao-entrar {
        width: 10%;
        height: 20px;
        font-size: 70%;
        text-align: center;
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    h1 {
        width: 60%;
        height: 100px;
        font-size: 25px;
        position: relative;
        text-align: center;
        margin-left: auto;
        letter-spacing: 0px;
        word-spacing: 1px;
    }

    .parágrafo-um {
        width: 70%;
        font-size: 25px;
        margin-left: 15%;
    }

    
    .parágrafo-dois {
        width: 60%;
        font-size: 20px;
        margin-left: 20%;
    }

    .big-font {
    font-size: 10px;
    padding-left: 11px;
    }

    #botao-email {
        width: 60px;
        font-size: 10px;
        cursor: pointer;        
        display: flex;
        align-items: center;
        justify-content: center
    }

    #rodape {
        width: 100%;
        height: 50%;
        padding-bottom: 30px;
        margin: -10px;
    }

    #botao-pergunta-1 {
        width: 300px;
    }

    #resposta-1 {
        width: 260px;
    }

    #botao-pergunta-2 {
        width: 300px;
    }

    #resposta-2 {
        width: 260px;
    }

    #botao-pergunta-3 {
        width: 300px;
    }

    #resposta-3 {
        width: 260px;
    }

    #botao-pergunta-4 {
        width: 300px;
    }

    #resposta-4 {
        width: 260px;
    }

    #botao-pergunta-5 {
        width: 300px;
    }

    #resposta-5 {
        width: 260px;
    }

    #botao-pergunta-6 {
        width: 300px;
    }

    #resposta-6 {
        width: 260px;
    }

    
}